[App_Settings]
# Leave blank if you don't want to retain torrent history when cleaned
TORRENT_HISTORY=true

[Docker]
OPENVPN_PROVIDER=PIA
OPENVPN_CONFIG=US East
OPENVPN_USERNAME=
OPENVPN_PASSWORD=
OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60
WEBPROXY_ENABLED=false
LOCAL_NETWORK=192.168.0.0/16

# Release Hub
WATCHMODE_API_KEY=
TMDB_API_KEY=
TMDB_READ_ACCESS_TOKEN=
RELEASE_DB_USER=release
RELEASE_DB_PASSWORD=release
RELEASE_DB_NAME=release_hub
RELEASE_DB_PORT=5433
RELEASE_API_PORT=3001
RELEASE_WEB_PORT=4200
HOST_UID=501
HOST_GID=20
